<div class="container text-center text-red-700">
  <h1 class="text-center text-4xl font-bold mt-12 px-5">冷凍チャーハンが縮みすぎてツライ</h1>
  <div class="w-1/2 mx-auto my-10">
    <%= image_tag 'fried_rice' %>
  </div>
  <p class="text-xl m-4">縮むことを想定して温める量と時間を決めてレンジに入れよう！</p>
  <p class="m-4">※１人前の分量。ちょうどいい分量と温め具合は製作者の独断と偏見によるものです</p>
  <button class="bg-red-600 hover:bg-red-700 focus:ring-4 focus:ring-red-300 text-white text-lg py-2 px-4 my-4 rounded-full">始める</button>
</div>